body {
    background: url('./minecraft-video-game-art-video-games-shaders-horror-hd-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    color: red;
}

h1 {
    color: red;
}

a {
    color: red;
}
